.myMusicText {
  padding: 8px 16px;
  padding-left: 2.1rem;
}
.navigationIcons {
  justify-content: center;
}

.active {
  background-color: var(--secondary-color);
}

.navlink {
  display: block;
  color: var(--text-color);
  text-decoration: none;
}

.AddUserPlaylistBtton {
  float: right;
  margin-inline: 1em;
}

.userPlaylistWrapper {
  overflow-y: hidden;
  max-height: 48vh;
}

.userPlaylistWrapper:hover {
  overflow-y: auto;
}

.userPlaylistWrapper::-webkit-scrollbar {
  width: 2px;
}
