.trackRowContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0.2em;
  box-shadow: 1px 1px 8px var(--primary-color);

  cursor: pointer;
  border-radius: 3px;
  background-color: var(--primary-color);
}

.trackRowContainer:hover {
  background-color: var(--secondary-color);
}

.trackName {
  font-size: 1em;
  padding: 0;
}

.artistName {
  /* color: var(--text-color); */
  font-size: small;
}

.TextWrapper {
  margin-inline: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.TimeHeartWrapper {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.TimeHeartWrapper p {
  padding-inline: "30px";
}
@media screen and (max-width: 426px) {
  .artists {
    display: none;
  }
  .trackName {
    font-size: smaller;
    font-weight: normal;
  }
}
