.UserPlaylistCardContainer {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0.5em;
  margin-inline: 1em;
  margin-block: 0.5em;
  justify-content: space-between;
  background-color: var(--secondary-color);
  cursor: pointer;
  position: relative;
}

.UserPlaylistCardContainer div {
  display: flex;
  align-items: center;
}

.userPlaylistAvatar {
  margin-right: 1em;
}

@media screen and (max-width: 769px) {
  .UserPlaylistCardContainer {
    margin-inline: 0.5em;
  }
}

.deleteButton {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s;
}

.UserPlaylistCardContainer:hover .deleteButton {
  opacity: 1;
}
