.playlistHeader {
  min-height: 46vh;
  padding-bottom: 1em;
  box-shadow: 0px 12px 39px -4px var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headertext {
  white-space: pre-line;
  margin-left: 3em;
  flex-wrap: wrap;
  margin-top: 2em;
  width: 52%;
}

.playlistNameHeading {
  font-size: 3.5em;
}

.headertext h2 {
  font-weight: normal;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.tracksContainer {
  height: 82vh;
  overflow-y: auto;
}

@media screen and (max-width: 1025px) {
  .playlistNameHeading {
    font-size: 2em;
  }
  .headertext h2 {
    margin-bottom: 0.5em;
  }
  .headertext {
    width: 60%;
    margin-top: 2em;
    margin-left: 1.5em;
  }
  /* .playlistHeader {
    background-size: 100%;
    background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    );
  } */
}

@media screen and (max-width: 769px) {
  .headertext {
    width: 90%;
  }
}

.trackListWrapper {
  margin: 1em;
}

.searchInput::placeholder {
  color: var(--text-color);
}
