.playlistHeader {
  /* width: 80%;
  margin: 0 auto; */
  /* background-color: rgb(0, 0, 0); */
  height: 60vh;
  /* border-end-start-radius: 50px;
  border-end-end-radius: 50px; */
  box-shadow: 0px 12px 39px -4px rgba(0, 0, 0, 0.1);
  display: flex;
}

.headertext {
  /* color: white; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-left: 5em;
  flex-wrap: wrap;
  margin-top: 3em;
}

.playlistNameHeading {
  font-size: 4em;
}

.headertext h2 {
  font-weight: normal;
  font-size: 2em;
  margin-bottom: 1em;
}

.tracksContainer {
  height: 90vh;
  overflow-y: auto;
  flex: 1.5;
}
