/* styles.module.css */

.searchBarContainer {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 30rem;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 50px;
  padding: 5px 10px;
}

.searchBarContainer input {
  background: none;
  border: none;
  padding: 5px 10px;
  outline: none;
  width: 100%;
}

.header {
  height: 4.5rem;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3rem;
  padding-block: 1.5rem;
  /* position: fixed; */
  box-sizing: border-box;
  width: 100%;
}
