.searchBarContainer {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 30rem;
  border: 1px solid var(--secondary-color2);
  border-radius: 50px;
  padding: 5px 10px;
  margin-inline: 1em;
}

.searchBarContainer input {
  background: none;
  border: none;
  padding: 5px 10px;
  outline: none;
  width: 100%;
  color: var(--text-color);
}

.header {
  height: 9vh;
  display: flex;
  background-color: var(--primary-color);
  justify-content: space-between;
  align-items: center;
  padding-inline: 2.5rem;
  padding-block: 1.5rem;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  box-shadow: 0 3px 5px var(--shadow-color);
  z-index: 9999;
}

.headerContent {
  flex: 1;
  display: flex;
  align-items: center;
}

.headerIcons {
  display: flex;
}

@media screen and (max-width: 426px) {
  .header {
    padding-inline: 0.5em;
  }
  .headerIcons {
    display: none;
  }
}
