@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  /* background-color: rgb(27, 27, 27);
  color: white; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
/* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}




h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

:root {
  /* Dark theme */
  --primary-color-dark: #232323;
  --secondary-color-dark: #2c2b2b;
  --secondary-color-dark2: #6b6b6b;
  --brand-color-dark: #9c7c8b;
  --text-color-dark: #ffffff;
  --text-color-dark2: #dbdbdb;
  --shadow-color-dark: rgb(47, 47, 47);
  --overlay-color-dark: rgb(47, 47, 47, 0.8);
  /* ... other color variables for dark theme ... */

  /* Light theme */
  --primary-color-light: #ffffff;
  --secondary-color-light: #fafafa;
  --secondary-color-light2: #c0c0c0;
  --brand-color-light: #e8d1dc;
  --text-color-light: #333333;
  --text-color-light2: #444444;
  --shadow-color-light: rgba(226, 226, 226);
  --overlay-color-light: rgba(226, 226, 226, 0.8);
  /* ... other color variables for light theme ... */
}

/* Selectors for dark theme */
.dark-theme {
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --secondary-color2: var(--secondary-color-dark2);
  --text-color: var(--text-color-dark);
  --text-color2: var(--text-color-dark2);
  --brand-color: var(--brand-color-dark);
  --shadow-color: var(--shadow-color-dark);
  --overlay-color: var(--overlay-color-dark);
}

/* Selectors for light theme */
.light-theme {
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
  --secondary-color2: var(--secondary-color-light2);
  --text-color: var(--text-color-light);
  --text-color2: var(--text-color-light2);
  --brand-color: var(--brand-color-light);
  --overlay-color: var(--overlay-color-light);
}

.container {
  color: var(--text-color);
  background-color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(129, 129, 129);
  /* outline: 1px solid slategrey; */
}
