.CardHorizontalContainer {
  display: flex;
  flex-direction: row;
  padding-left: 2em;
  overflow: auto;
}

.cardMargin {
  margin-right: 3em;
  margin-block: 1em;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

/* .main-container {
  margin-left: 1.5em;
} */

.d-flex-row {
  display: flex;
}

.darkModeIcon {
  color: var(--text-color);
}
