.CardHorizontalContainer {
  display: flex;
  flex-direction: row;
  padding-left: 2em;
  padding-bottom: 0.5em;
  overflow: auto;
}

.CardHorizontalContainer::-webkit-scrollbar {
  display: none;
}

/*
.CardHorizontalContainer:hover {
  overflow-x: auto;
} */

.cardMargin {
  margin-right: 3em;
  margin-block: 1em;
  cursor: pointer;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

/* .main-container {
  margin-left: 1.5em;
} */

.d-flex-row {
  display: flex;
}

.darkModeIcon {
  color: var(--text-color);
}

@media screen and (max-width: 769px) {
  .cardMargin {
    margin-right: 2em;
    margin-block: 1em;
  }
}
